# Importing Dependences

In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [2]:
#Creating a Pandas DataFrame by reading the dataset using read_csv from Pandas Library
movies = pd.read_csv('C:\\Users\\pavan\\Desktop\\Project\\Movie Recommendation System based on User Preferences\\Datasets\\10000_Movies_Data.csv')
credits = pd.read_csv('C:\\Users\\pavan\Desktop\\Project\\Movie Recommendation System based on User Preferences\\Datasets\\10000_Credits_Data.csv')

In [3]:
#Printing the first 5 rows from movies dataframe
movies.head()

,Unnamed: 0,Movie_id,title,Genres,release_date,Keywords,overview,Budget,Revenue,popularity,vote_average,vote_count
0,0,238,The Godfather,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",14-03-1972,"[{'id': 131, 'name': 'italy'}, {'id': 697, 'na...","Spanning the years 1945 to 1955, a chronicle o...",245066411,245066411,93.552,8.7,16814
1,1,278,The Shawshank Redemption,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",23-09-1994,"[{'id': 378, 'name': 'prison'}, {'id': 417, 'n...",Framed in the 1940s for the double murder of h...,28341469,28341469,78.664,8.7,22542
2,2,240,The Godfather Part II,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",20-12-1974,"[{'id': 131, 'name': 'italy'}, {'id': 700, 'na...",In the continuing saga of the Corleone crime f...,102600000,102600000,55.752,8.6,10187
3,3,19404,Dilwale Dulhania Le Jayenge,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",19-10-1995,[],"Raj is a rich, carefree, happy-go-lucky second...",100000000,100000000,22.150,8.6,3927
4,4,424,Schindler's List,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",15-12-1993,"[{'id': 818, 'name': 'based on novel or book'}...",The true story of how businessman Oskar Schind...,321365567,321365567,53.542,8.6,13382

In [4]:
#Printing the size(rows,columns)
movies.shape

(9980, 12)

In [5]:
#printing the first 5 rows from credits dataframe 
credits.head()

,Unnamed: 0,Movie_id,title,Cast,Crew
0,0,238,The Godfather,"[{'adult': False, 'gender': 2, 'id': 3084, 'kn...","[{'adult': False, 'gender': 2, 'id': 154, 'kno..."
1,1,278,The Shawshank Redemption,"[{'adult': False, 'gender': 2, 'id': 504, 'kno...","[{'adult': False, 'gender': 2, 'id': 153, 'kno..."
2,2,240,The Godfather Part II,"[{'adult': False, 'gender': 2, 'id': 1158, 'kn...","[{'adult': False, 'gender': 2, 'id': 154, 'kno..."
3,3,19404,Dilwale Dulhania Le Jayenge,"[{'adult': False, 'gender': 2, 'id': 35742, 'k...","[{'adult': False, 'gender': 1, 'id': 8311, 'kn..."
4,4,424,Schindler's List,"[{'adult': False, 'gender': 2, 'id': 3896, 'kn...","[{'adult': False, 'gender': 2, 'id': 491, 'kno..."

In [6]:
#For better access converting all column names to lowercase
movies= movies.rename(columns=str.lower)
credits= credits.rename(columns=str.lower)

In [7]:
movies.head()

,unnamed: 0,movie_id,title,genres,release_date,keywords,overview,budget,revenue,popularity,vote_average,vote_count
0,0,238,The Godfather,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",14-03-1972,"[{'id': 131, 'name': 'italy'}, {'id': 697, 'na...","Spanning the years 1945 to 1955, a chronicle o...",245066411,245066411,93.552,8.7,16814
1,1,278,The Shawshank Redemption,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",23-09-1994,"[{'id': 378, 'name': 'prison'}, {'id': 417, 'n...",Framed in the 1940s for the double murder of h...,28341469,28341469,78.664,8.7,22542
2,2,240,The Godfather Part II,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",20-12-1974,"[{'id': 131, 'name': 'italy'}, {'id': 700, 'na...",In the continuing saga of the Corleone crime f...,102600000,102600000,55.752,8.6,10187
3,3,19404,Dilwale Dulhania Le Jayenge,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",19-10-1995,[],"Raj is a rich, carefree, happy-go-lucky second...",100000000,100000000,22.150,8.6,3927
4,4,424,Schindler's List,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",15-12-1993,"[{'id': 818, 'name': 'based on novel or book'}...",The true story of how businessman Oskar Schind...,321365567,321365567,53.542,8.6,13382

In [8]:
credits.head()

,unnamed: 0,movie_id,title,cast,crew
0,0,238,The Godfather,"[{'adult': False, 'gender': 2, 'id': 3084, 'kn...","[{'adult': False, 'gender': 2, 'id': 154, 'kno..."
1,1,278,The Shawshank Redemption,"[{'adult': False, 'gender': 2, 'id': 504, 'kno...","[{'adult': False, 'gender': 2, 'id': 153, 'kno..."
2,2,240,The Godfather Part II,"[{'adult': False, 'gender': 2, 'id': 1158, 'kn...","[{'adult': False, 'gender': 2, 'id': 154, 'kno..."
3,3,19404,Dilwale Dulhania Le Jayenge,"[{'adult': False, 'gender': 2, 'id': 35742, 'k...","[{'adult': False, 'gender': 1, 'id': 8311, 'kn..."
4,4,424,Schindler's List,"[{'adult': False, 'gender': 2, 'id': 3896, 'kn...","[{'adult': False, 'gender': 2, 'id': 491, 'kno..."

In [9]:
movies = movies.merge(credits,on='title')

In [10]:
movies.head()

,unnamed: 0_x,movie_id_x,title,genres,release_date,keywords,overview,budget,revenue,popularity,vote_average,vote_count,unnamed: 0_y,movie_id_y,cast,crew
0,0,238,The Godfather,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",14-03-1972,"[{'id': 131, 'name': 'italy'}, {'id': 697, 'na...","Spanning the years 1945 to 1955, a chronicle o...",245066411,245066411,93.552,8.7,16814,0,238,"[{'adult': False, 'gender': 2, 'id': 3084, 'kn...","[{'adult': False, 'gender': 2, 'id': 154, 'kno..."
1,1,278,The Shawshank Redemption,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",23-09-1994,"[{'id': 378, 'name': 'prison'}, {'id': 417, 'n...",Framed in the 1940s for the double murder of h...,28341469,28341469,78.664,8.7,22542,1,278,"[{'adult': False, 'gender': 2, 'id': 504, 'kno...","[{'adult': False, 'gender': 2, 'id': 153, 'kno..."
2,2,240,The Godfather Part II,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",20-12-1974,"[{'id': 131, 'name': 'italy'}, {'id': 700, 'na...",In the continuing saga of the Corleone crime f...,102600000,102600000,55.752,8.6,10187,2,240,"[{'adult': False, 'gender': 2, 'id': 1158, 'kn...","[{'adult': False, 'gender': 2, 'id': 154, 'kno..."
3,3,19404,Dilwale Dulhania Le Jayenge,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",19-10-1995,[],"Raj is a rich, carefree, happy-go-lucky second...",100000000,100000000,22.150,8.6,3927,3,19404,"[{'adult': False, 'gender': 2, 'id': 35742, 'k...","[{'adult': False, 'gender': 1, 'id': 8311, 'kn..."
4,4,424,Schindler's List,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",15-12-1993,"[{'id': 818, 'name': 'based on novel or book'}...",The true story of how businessman Oskar Schind...,321365567,321365567,53.542,8.6,13382,4,424,"[{'adult': False, 'gender': 2, 'id': 3896, 'kn...","[{'adult': False, 'gender': 2, 'id': 491, 'kno..."

In [11]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10707 entries, 0 to 10706
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   unnamed: 0_x  10707 non-null  int64
 1   movie_id_x    10707 non-null  int64
 2   title         10707 non-null  object
 3   genres        10707 non-null  object
 4   release_date  10707 non-null  object
 5   keywords      10707 non-null  object
 6   overview      10701 non-null  object
 7   budget        10707 non-null  int64
 8   revenue       10707 non-null  int64
 9   popularity    10707 non-null  float64
 10  vote_average  10707 non-null  float64
 11  vote_count    10707 non-null  int64
 12  unnamed: 0_y  10707 non-null  int64
 13  movie_id_y    10707 non-null  int64
 14  cast          10707 non-null  object
 15  crew          10707 non-null  object
dtypes: float64(2), int64(7), object(7)
memory usage: 1.4+ MB

In [12]:
#renaming column name of movie_id_x to movie_id for easy access
movies.rename(columns = {'movie_id_x':'movie_id'}, inplace = True)

In [13]:
#Creating a new dataframe with only the attributes which are having a significance in our model 
movies = movies[['movie_id','title','overview','genres','keywords','cast','crew']]

In [14]:
movies.head() #list [], Dictonary {},

,movie_id,title,overview,genres,keywords,cast,crew
0,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...","[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...","[{'id': 131, 'name': 'italy'}, {'id': 697, 'na...","[{'adult': False, 'gender': 2, 'id': 3084, 'kn...","[{'adult': False, 'gender': 2, 'id': 154, 'kno..."
1,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...","[{'id': 378, 'name': 'prison'}, {'id': 417, 'n...","[{'adult': False, 'gender': 2, 'id': 504, 'kno...","[{'adult': False, 'gender': 2, 'id': 153, 'kno..."
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...","[{'id': 131, 'name': 'italy'}, {'id': 700, 'na...","[{'adult': False, 'gender': 2, 'id': 1158, 'kn...","[{'adult': False, 'gender': 2, 'id': 154, 'kno..."
3,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...","[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",[],"[{'adult': False, 'gender': 2, 'id': 35742, 'k...","[{'adult': False, 'gender': 1, 'id': 8311, 'kn..."
4,424,Schindler's List,The true story of how businessman Oskar Schind...,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...","[{'id': 818, 'name': 'based on novel or book'}...","[{'adult': False, 'gender': 2, 'id': 3896, 'kn...","[{'adult': False, 'gender': 2, 'id': 491, 'kno..."

# Data Proprocessing

In [15]:
# Determining the total no of null values in each attribute
movies.isnull().sum()

movie_id    0
title       0
overview    6
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [16]:
#If the total count seems insignificant or negligible then you could drop those records
import warnings
warnings.filterwarnings('ignore')
movies.dropna(inplace=True) #Dropping null records

In [17]:
movies.isnull().sum()

movie_id    0
title       0
overview    0
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [18]:
#Determing the total number of duplicate records
movies.duplicated("movie_id").sum() #Checking if there are any duplicate records

730

In [19]:
#Dropping duplicates
movies.drop_duplicates(subset="movie_id",inplace=True)
movies.duplicated("movie_id").sum()

0

In [20]:
#Printing the first row's genres column
movies.iloc[0].genres

"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name': 'Crime'}]"

In [21]:
#Preprossing to convert list of dictonaries into List of elements
#But to do that we have to first make it a list from a string
#This can be done via importing ast library
# From: '[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'
# To: '["Action","Adventure","Fantasy",...]'
import ast

In [22]:
#Helper function to convert from string to list of dictionaries and from list of dictionaries to list of elements
def convert(obj):
    L=[]
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

In [23]:
#Sending genres object to convert function
movies['genres'] = movies['genres'].apply(convert)
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...","[Drama, Crime]","[{'id': 131, 'name': 'italy'}, {'id': 697, 'na...","[{'adult': False, 'gender': 2, 'id': 3084, 'kn...","[{'adult': False, 'gender': 2, 'id': 154, 'kno..."
1,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,"[Drama, Crime]","[{'id': 378, 'name': 'prison'}, {'id': 417, 'n...","[{'adult': False, 'gender': 2, 'id': 504, 'kno...","[{'adult': False, 'gender': 2, 'id': 153, 'kno..."
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,"[Drama, Crime]","[{'id': 131, 'name': 'italy'}, {'id': 700, 'na...","[{'adult': False, 'gender': 2, 'id': 1158, 'kn...","[{'adult': False, 'gender': 2, 'id': 154, 'kno..."
3,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...","[Comedy, Drama, Romance]",[],"[{'adult': False, 'gender': 2, 'id': 35742, 'k...","[{'adult': False, 'gender': 1, 'id': 8311, 'kn..."
4,424,Schindler's List,The true story of how businessman Oskar Schind...,"[Drama, History, War]","[{'id': 818, 'name': 'based on novel or book'}...","[{'adult': False, 'gender': 2, 'id': 3896, 'kn...","[{'adult': False, 'gender': 2, 'id': 491, 'kno..."

In [24]:
#Sending keywords object to convert function
movies['keywords'] = movies['keywords'].apply(convert)
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...","[Drama, Crime]","[italy, loss of loved one, love at first sight...","[{'adult': False, 'gender': 2, 'id': 3084, 'kn...","[{'adult': False, 'gender': 2, 'id': 154, 'kno..."
1,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,"[Drama, Crime]","[prison, corruption, police brutality, based o...","[{'adult': False, 'gender': 2, 'id': 504, 'kno...","[{'adult': False, 'gender': 2, 'id': 153, 'kno..."
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,"[Drama, Crime]","[italy, italian american, cuba, symbolism, gan...","[{'adult': False, 'gender': 2, 'id': 1158, 'kn...","[{'adult': False, 'gender': 2, 'id': 154, 'kno..."
3,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...","[Comedy, Drama, Romance]",[],"[{'adult': False, 'gender': 2, 'id': 35742, 'k...","[{'adult': False, 'gender': 1, 'id': 8311, 'kn..."
4,424,Schindler's List,The true story of how businessman Oskar Schind...,"[Drama, History, War]","[based on novel or book, factory, concentratio...","[{'adult': False, 'gender': 2, 'id': 3896, 'kn...","[{'adult': False, 'gender': 2, 'id': 491, 'kno..."

In [25]:
movies.iloc[0].cast

'[{\'adult\': False, \'gender\': 2, \'id\': 3084, \'known_for_department\': \'Acting\', \'name\': \'Marlon Brando\', \'original_name\': \'Marlon Brando\', \'popularity\': 15.274, \'profile_path\': \'/fuTEPMsBtV1zE98ujPONbKiYDc2.jpg\', \'cast_id\': 5, \'character\': \'Don Vito Corleone\', \'credit_id\': \'52fe422bc3a36847f8009357\', \'order\': 0}, {\'adult\': False, \'gender\': 2, \'id\': 1158, \'known_for_department\': \'Acting\', \'name\': \'Al Pacino\', \'original_name\': \'Al Pacino\', \'popularity\': 32.169, \'profile_path\': \'/fMDFeVf0pjopTJbyRSLFwNDm8Wr.jpg\', \'cast_id\': 6, \'character\': \'Don Michael Corleone\', \'credit_id\': \'52fe422bc3a36847f800935b\', \'order\': 1}, {\'adult\': False, \'gender\': 2, \'id\': 3085, \'known_for_department\': \'Acting\', \'name\': \'James Caan\', \'original_name\': \'James Caan\', \'popularity\': 23.916, \'profile_path\': \'/bGyOCCOIgcIyKjOGLoXoyp0XWHf.jpg\', \'cast_id\': 7, \'character\': "Santino \'Sonny\' Corleone", \'credit_id\': \'52fe422bc3a36847f800935f\', \'order\': 2}, {\'adult\': False, \'gender\': 2, \'id\': 3087, \'known_for_department\': \'Acting\', \'name\': \'Robert Duvall\', \'original_name\': \'Robert Duvall\', \'popularity\': 24.079, \'profile_path\': \'/ybMmK25h4IVtfE7qrnlVp47RQlh.jpg\', \'cast_id\': 9, \'character\': \'Tom Hagen\', \'credit_id\': \'52fe422bc3a36847f8009367\', \'order\': 3}, {\'adult\': False, \'gender\': 0, \'id\': 3086, \'known_for_department\': \'Acting\', \'name\': \'Richard S. Castellano\', \'original_name\': \'Richard S. Castellano\', \'popularity\': 10.388, \'profile_path\': \'/1vr75BdHWret81vuSJ3ugiCBkxw.jpg\', \'cast_id\': 8, \'character\': \'Pete Clemenza\', \'credit_id\': \'52fe422bc3a36847f8009363\', \'order\': 4}, {\'adult\': False, \'gender\': 1, \'id\': 3092, \'known_for_department\': \'Acting\', \'name\': \'Diane Keaton\', \'original_name\': \'Diane Keaton\', \'popularity\': 21.404, \'profile_path\': \'/7gEdH5vGwpUpogscTb2JivnoRBb.jpg\', \'cast_id\': 13, \'character\': \'Kay Adams\', \'credit_id\': \'52fe422bc3a36847f8009377\', \'order\': 5}, {\'adult\': False, \'gender\': 1, \'id\': 3094, \'known_for_department\': \'Acting\', \'name\': \'Talia Shire\', \'original_name\': \'Talia Shire\', \'popularity\': 14.677, \'profile_path\': \'/due9MtmbvCMDd1aNveuMyjsaZ8W.jpg\', \'cast_id\': 15, \'character\': "Constanzia \'Connie\' Corleone-Rizzi", \'credit_id\': \'52fe422bc3a36847f800937f\', \'order\': 6}, {\'adult\': False, \'gender\': 2, \'id\': 3095, \'known_for_department\': \'Acting\', \'name\': \'Gianni Russo\', \'original_name\': \'Gianni Russo\', \'popularity\': 8.099, \'profile_path\': \'/5fjg2WPvuk1NvUpLyQ7aMJqOqy.jpg\', \'cast_id\': 16, \'character\': \'Carlo Rizzi\', \'credit_id\': \'52fe422bc3a36847f8009383\', \'order\': 7}, {\'adult\': False, \'gender\': 2, \'id\': 3088, \'known_for_department\': \'Acting\', \'name\': \'Sterling Hayden\', \'original_name\': \'Sterling Hayden\', \'popularity\': 12.446, \'profile_path\': \'/j1ExJbuBqBa6WEhPVW4J7YGFBWs.jpg\', \'cast_id\': 10, \'character\': \'Capt. Mark McCluskey\', \'credit_id\': \'52fe422bc3a36847f800936b\', \'order\': 8}, {\'adult\': False, \'gender\': 2, \'id\': 3091, \'known_for_department\': \'Acting\', \'name\': \'Al Lettieri\', \'original_name\': \'Al Lettieri\', \'popularity\': 8.127, \'profile_path\': \'/fE5mEWPkkVJlCji0EoKht8PYw89.jpg\', \'cast_id\': 12, \'character\': "Virgil \'The Turk\' Sollozzo", \'credit_id\': \'52fe422bc3a36847f8009373\', \'order\': 9}, {\'adult\': False, \'gender\': 2, \'id\': 3093, \'known_for_department\': \'Acting\', \'name\': \'Abe Vigoda\', \'original_name\': \'Abe Vigoda\', \'popularity\': 6.822, \'profile_path\': \'/luWKPNb58IgJ2ovrtgPAzHGLLYL.jpg\', \'cast_id\': 14, \'character\': "Salvatore \'Sal\' Tessio", \'credit_id\': \'52fe422bc3a36847f800937b\', \'order\': 10}, {\'adult\': False, \'gender\': 2, \'id\': 3096, \'known_for_department\': \'Acting\', \'name\': \'John Cazale\', \'original_name\': \'John Cazale\', \'popularity\': 10.158, \'profile_path\': \'/tRBImYIYk9tuR4fjJc8gHXC8ENj.jpg\', \'cast_id\': 17, \'character\': "Frederico \'Fredo\' Corleone", \'credit_id\': \'52fe422bc3a36847f8009387\', \'order\': 11}, {\'adult\': False, \'gender\': 2, \'id\': 3090, \'known_for_department\': \'Acting\', \'name\': \'Richard Conte\', \'original_name\': \'Richard Conte\', \'popularity\': 9.971, \'profile_path\': \'/pTTzNets0bgWAqx18D7by0hWUea.jpg\', \'cast_id\': 11, \'character\': \'Don Emilio Barzini\', \'credit_id\': \'52fe422bc3a36847f800936f\', \'order\': 12}, {\'adult\': False, \'gender\': 2, \'id\': 3142, \'known_for_department\': \'Acting\', \'name\': \'John Marley\', \'original_name\': \'John Marley\', \'popularity\': 2.497, \'profile_path\': None, \'cast_id\': 33, \'character\': \'Jack Woltz\', \'credit_id\': \'52fe422bc3a36847f800938b\', \'order\': 13}, {\'adult\': False, \'gender\': 2, \'id\': 3143, \'known_for_department\': \'Acting\', \'name\': \'Rudy Bond\', \'original_name\': \'Rudy Bond\', \'popularity\': 1.948, \'profile_path\': \'/kP77m6ot9dfOR2V3ykbyOAx2diK.jpg\', \'cast_id\': 34, \'character\': \'Carmine Cuneo\', \'credit_id\': \'52fe422bc3a36847f800938f\', \'order\': 14}, {\'adult\': False, \'gender\': 2, \'id\': 3144, \'known_for_department\': \'Acting\', \'name\': \'Al Martino\', \'original_name\': \'Al Martino\', \'popularity\': 2.803, \'profile_path\': \'/9luOyyiqWFNQgSOSStH66LTWZ3p.jpg\', \'cast_id\': 35, \'character\': \'Johnny Fontane\', \'credit_id\': \'52fe422bc3a36847f8009393\', \'order\': 15}, {\'adult\': False, \'gender\': 1, \'id\': 933716, \'known_for_department\': \'Acting\', \'name\': \'Morgana King\', \'original_name\': \'Morgana King\', \'popularity\': 1.88, \'profile_path\': \'/zPsFAqH4NXD7rMWl2Kj3rEyGrKj.jpg\', \'cast_id\': 42, \'character\': "Carmela \'Mama\' Corleone", \'credit_id\': \'52fe422bc3a36847f80093a7\', \'order\': 16}, {\'adult\': False, \'gender\': 2, \'id\': 106811, \'known_for_department\': \'Acting\', \'name\': \'Lenny Montana\', \'original_name\': \'Lenny Montana\', \'popularity\': 3.293, \'profile_path\': \'/3R52Zh3MBCaSPqmcyWcD1Y0N4wo.jpg\', \'cast_id\': 45, \'character\': \'Luca Brasi\', \'credit_id\': \'52fe422bc3a36847f80093b3\', \'order\': 17}, {\'adult\': False, \'gender\': 2, \'id\': 99724, \'known_for_department\': \'Acting\', \'name\': \'John Martino\', \'original_name\': \'John Martino\', \'popularity\': 1.327, \'profile_path\': \'/3c8BOgJ8UdHi5x5BS3lYnFngxB5.jpg\', \'cast_id\': 47, \'character\': \'Paulie Gatto\', \'credit_id\': \'52fe422bc3a36847f80093bb\', \'order\': 18}, {\'adult\': False, \'gender\': 2, \'id\': 20752, \'known_for_department\': \'Acting\', \'name\': \'Alex Rocco\', \'original_name\': \'Alex Rocco\', \'popularity\': 5.939, \'profile_path\': \'/u2JStL4Pk9Huq1xmrjqezfysivt.jpg\', \'cast_id\': 41, \'character\': \'Moe Greene\', \'credit_id\': \'52fe422bc3a36847f80093a3\', \'order\': 19}, {\'adult\': False, \'gender\': 0, \'id\': 1195877, \'known_for_department\': \'Acting\', \'name\': \'Salvatore Corsitto\', \'original_name\': \'Salvatore Corsitto\', \'popularity\': 3.583, \'profile_path\': \'/79OfgwtdP5qsR1UX6ERkrdmRT8c.jpg\', \'cast_id\': 46, \'character\': \'Amerigo Bonasera\', \'credit_id\': \'52fe422bc3a36847f80093b7\', \'order\': 20}, {\'adult\': False, \'gender\': 2, \'id\': 3414, \'known_for_department\': \'Acting\', \'name\': \'Tony Giorgio\', \'original_name\': \'Tony Giorgio\', \'popularity\': 2.891, \'profile_path\': \'/1uhgwgjoX7WaakEOBmtBRJKtgEB.jpg\', \'cast_id\': 38, \'character\': \'Bruno Tattaglia\', \'credit_id\': \'52fe422bc3a36847f800939f\', \'order\': 21}, {\'adult\': False, \'gender\': 2, \'id\': 3413, \'known_for_department\': \'Acting\', \'name\': \'Victor Rendina\', \'original_name\': \'Victor Rendina\', \'popularity\': 3.206, \'profile_path\': \'/vuNdsjDpgom80WBdB2WBTWuEIuM.jpg\', \'cast_id\': 37, \'character\': \'Philip Tattaglia\', \'credit_id\': \'52fe422bc3a36847f800939b\', \'order\': 22}, {\'adult\': False, \'gender\': 1, \'id\': 3145, \'known_for_department\': \'Acting\', \'name\': \'Simonetta Stefanelli\', \'original_name\': \'Simonetta Stefanelli\', \'popularity\': 9.643, \'profile_path\': \'/sVDrhgxuE6SHnj7q07OG6ywPUYR.jpg\', \'cast_id\': 36, \'character\': \'Apollonia Vitelli-Corleone\', \'credit_id\': \'52fe422bc3a36847f8009397\', \'order\': 23}, {\'adult\': False, \'gender\': 2, \'id\': 119431, \'known_for_department\': \'Acting\', \'name\': \'Saro Urzì\', \'original_name\': \'Saro Urzì\', \'popularity\': 1.858, \'profile_path\': \'/nPJytCpcNdG5ssPoKeEvxM6xifx.jpg\', \'cast_id\': 48, \'character\': \'Mr. Vitelli\', \'credit_id\': \'52fe422bc3a36847f80093bf\', \'order\': 24}, {\'adult\': False, \'gender\': 1, \'id\': 1769, \'known_for_department\': \'Directing\', \'name\': \'Sofia Coppola\', \'original_name\': \'Sofia Coppola\', \'popularity\': 8.353, \'profile_path\': \'/dzHC2LxmarkBxWLhjp2DRa5oCev.jpg\', \'cast_id\': 43, \'character\': \'Michael Francis Rizzi\', \'credit_id\': \'52fe422bc3a36847f80093ab\', \'order\': 25}, {\'adult\': False, \'gender\': 2, \'id\': 20973, \'known_for_department\': \'Acting\', \'name\': \'Louis Guss\', \'original_name\': \'Louis Guss\', \'popularity\': 3.076, \'profile_path\': \'/hz5Akuh4QcqitlifYwDiZ9ut6Tr.jpg\', \'cast_id\': 44, \'character\': \'Don Zaluchi\', \'credit_id\': \'52fe422bc3a36847f80093af\', \'order\': 26}, {\'adult\': False, \'gender\': 2, \'id\': 3174, \'known_for_department\': \'Acting\', \'name\': \'Richard Bright\', \'original_name\': \'Richard Bright\', \'popularity\': 6.476, \'profile_path\': \'/potMaJ2u5PRjXZb7qF9lSW1ldNZ.jpg\', \'cast_id\': 70, \'character\': \'Neri\', \'credit_id\': \'55be4cdbc3a3683921003065\', \'order\': 27}, {\'adult\': False, \'gender\': 2, \'id\': 82779, \'known_for_department\': \'Acting\', \'name\': \'Vito Scotti\', \'original_name\': \'Vito Scotti\', \'popularity\': 5.8, \'profile_path\': \'/zDGtXkASxpo3DzMNz6OI3NOp9v0.jpg\', \'cast_id\': 71, \'character\': \'Nazorine\', \'credit_id\': \'55be4cff9251413e49004a59\', \'order\': 28}, {\'adult\': False, \'gender\': 1, \'id\': 982089, \'known_for_department\': \'Acting\', \'name\': \'Tere Livrano\', \'original_name\': \'Tere Livrano\', \'popularity\': 2.217, \'profile_path\': \'/eBoC3425jmwRlsT2W8qUDsNwVXB.jpg\', \'cast_id\': 72, \'character\': \'Theresa Hagen\', \'credit_id\': \'55be4d40c3a368392100306d\', \'order\': 29}, {\'adult\': False, \'gender\': 1, \'id\': 160728, \'known_for_department\': \'Acting\', \'name\': \'Julie Gregg\', \'original_name\': \'Julie Gregg\', \'popularity\': 2.669, \'profile_path\': \'/8Kx71BnZNtpzb86jH7fcArWhJBh.jpg\', \'cast_id\': 77, \'character\': "Sandrinella \'Sandra\' Corleone", \'credit_id\': \'55ee4ac0c3a3686f170063c4\', \'order\': 30}, {\'adult\': False, \'gender\': 2, \'id\': 27647, \'known_for_department\': \'Acting\', \'name\': \'Angelo Infanti\', \'original_name\': \'Angelo Infanti\', \'popularity\': 4.573, \'profile_path\': \'/dkRVpiDj9YyiuM15XZKT11zZBIR.jpg\', \'cast_id\': 74, \'character\': \'Fabrizio\', \'credit_id\': \'55be4dffc3a368652600471c\', \'order\': 31}, {\'adult\': False, \'gender\': 2, \'id\': 24604, \'known_for_department\': \'Acting\', \'name\': \'Corrado Gaipa\', \'original_name\': \'Corrado Gaipa\', \'popularity\': 2.558, \'profile_path\': \'/7vR2BOdVw9FwJKjgpcisjKEytnL.jpg\', \'cast_id\': 75, \'character\': \'Don Tommasino\', \'credit_id\': \'55be4e2fc3a3686534005572\', \'order\': 32}, {\'adult\': False, \'gender\': 2, \'id\': 44860, \'known_for_department\': \'Acting\', \'name\': \'Franco Citti\', \'original_name\': \'Franco Citti\', \'popularity\': 2.498, \'profile_path\': \'/mttQPjOHaql4RKsfYriUA7HuROE.jpg\', \'cast_id\': 76, \'character\': \'Calò\', \'credit_id\': \'55be4e5bc3a3683921003083\', \'order\': 33}, {\'adult\': False, \'gender\': 0, \'id\': 138211, \'known_for_department\': \'Acting\', \'name\': \'Gabriele Torrei\', \'original_name\': \'Gabriele Torrei\', \'popularity\': 2.653, \'profile_path\': \'/x3KeYWTWX5SqZ3NuQGiWiadO4DI.jpg\', \'cast_id\': 49, \'character\': \'Enzo the Baker (uncredited)\', \'credit_id\': \'52fe422bc3a36847f80093c3\', \'order\': 34}, {\'adult\': False, \'gender\': 2, \'id\': 55672, \'known_for_department\': \'Acting\', \'name\': \'Tony King\', \'original_name\': \'Tony King\', \'popularity\': 3.56, \'profile_path\': \'/hOVVHEyc6euuuRhCLo6Q5YE4lLz.jpg\', \'cast_id\': 69, \'character\': \'Tony the Stablehand (uncredited)\', \'credit_id\': \'54de315fc3a3685446001351\', \'order\': 35}, {\'adult\': False, \'gender\': 0, \'id\': 178006, \'known_for_department\': \'Acting\', \'name\': \'Max Brandt\', \'original_name\': \'Max Brandt\', \'popularity\': 0.991, \'profile_path\': None, \'cast_id\': 78, \'character\': \'Extra in Furniture-Moving Scene (uncredited)\', \'credit_id\': \'55f1b3c992514167010020a7\', \'order\': 36}, {\'adult\': False, \'gender\': 2, \'id\': 2872, \'known_for_department\': \'Sound\', \'name\': \'Carmine Coppola\', \'original_name\': \'Carmine Coppola\', \'popularity\': 2.829, \'profile_path\': \'/iURpKXIgdtQoVCBQ8GKGvb0Qw5z.jpg\', \'cast_id\': 79, \'character\': \'Piano Player in Montage (uncredited)\', \'credit_id\': \'55f1b3ffc3a368230a00239f\', \'order\': 37}, {\'adult\': False, \'gender\': 2, \'id\': 38803, \'known_for_department\': \'Writing\', \'name\': \'Roman Coppola\', \'original_name\': \'Roman Coppola\', \'popularity\': 4.894, \'profile_path\': \'/rKamKkx78qjZTfvqi2OWCo5p6x5.jpg\', \'cast_id\': 80, \'character\': \'Boy on Street Who Attended Funeral (uncredited)\', \'credit_id\': \'55f1b452c3a36822f5002395\', \'order\': 38}, {\'adult\': False, \'gender\': 0, \'id\': 1209294, \'known_for_department\': \'Acting\', \'name\': \'Don Costello\', \'original_name\': \'Don Costello\', \'popularity\': 1.38, \'profile_path\': None, \'cast_id\': 81, \'character\': \'Don Victor Stracci (uncredited)\', \'credit_id\': \'55f1b4bac3a3682303002284\', \'order\': 39}, {\'adult\': False, \'gender\': 2, \'id\': 1394703, \'known_for_department\': \'Acting\', \'name\': \'Robert Dahdah\', \'original_name\': \'Robert Dahdah\', \'popularity\': 0.6, \'profile_path\': None, \'cast_id\': 82, \'character\': \'Crowd (uncredited)\', \'credit_id\': \'55f1b4de925141670d002392\', \'order\': 40}, {\'adult\': False, \'gender\': 2, \'id\': 2870, \'known_for_department\': \'Production\', \'name\': \'Gray Frederickson\', \'original_name\': \'Gray Frederickson\', \'popularity\': 3.018, \'profile_path\': None, \'cast_id\': 83, \'character\': "Cowboy on the Set at Woltz\'s Studio (uncredited)", \'credit_id\': \'55f1b507925141670d00239a\', \'order\': 41}, {\'adult\': False, \'gender\': 2, \'id\': 160621, \'known_for_department\': \'Acting\', \'name\': \'Ron Gilbert\', \'original_name\': \'Ron Gilbert\', \'popularity\': 0.783, \'profile_path\': \'/qrY6w2k0YpuMB2yTCOv6cxeQtmw.jpg\', \'cast_id\': 84, \'character\': \'Usher in Bridal Party (uncredited)\', \'credit_id\': \'55f1b52f9251416711002211\', \'order\': 42}, {\'adult\': False, \'gender\': 2, \'id\': 1233541, \'known_for_department\': \'Acting\', \'name\': \'Sonny Grosso\', \'original_name\': \'Sonny Grosso\', \'popularity\': 2.238, \'profile_path\': None, \'cast_id\': 87, \'character\': \'Cop Outside Hospital (uncredited)\', \'credit_id\': \'55f1b5bb925141670100210a\', \'order\': 43}, {\'adult\': False, \'gender\': 2, \'id\': 1503036, \'known_for_department\': \'Acting\', \'name\': \'Joe Lo Grippo\', \'original_name\': \'Joe Lo Grippo\', \'popularity\': 0.6, \'profile_path\': None, \'cast_id\': 86, \'character\': "Sonny\'s Bodyguard (uncredited)", \'credit_id\': \'55f1b59dc3a3683bec00231e\', \'order\': 44}, {\'adult\': False, \'gender\': 2, \'id\': 1068099, \'known_for_department\': \'Acting\', \'name\': \'Randy Jurgensen\', \'original_name\': \'Randy Jurgensen\', \'popularity\': 0.786, \'profile_path\': \'/xRoN79wRLndTMCJoaBSsdjQVIzI.jpg\', \'cast_id\': 89, \'character\': "Sonny\'s Killer #1 (uncredited)", \'credit_id\': \'55f1b61ec3a3683bec002335\', \'order\': 45}, {\'adult\': False, \'gender\': 2, \'id\': 61241, \'known_for_department\': \'Acting\', \'name\': \'Tony Lip\', \'original_name\': \'Tony Lip\', \'popularity\': 7.085, \'profile_path\': \'/6xz6XmjgiCCOm067OzWYziD4Mxa.jpg\', \'cast_id\': 90, \'character\': \'Wedding Guest (uncredited)\', \'credit_id\': \'55f1b685c3a36823070023b6\', \'order\': 46}, {\'adult\': False, \'gender\': 2, \'id\': 106187, \'known_for_department\': \'Acting\', \'name\': \'Lou Martini Jr.\', \'original_name\': \'Lou Martini Jr.\', \'popularity\': 1.631, \'profile_path\': \'/85s5KR0BA6dhMJtOrvtKGY8Bz8E.jpg\', \'cast_id\': 91, \'character\': \'Boy at Wedding (uncredited)\', \'credit_id\': \'55f1b6c39251416701002141\', \'order\': 47}, {\'adult\': False, \'gender\': 2, \'id\': 100503, \'known_for_department\': \'Acting\', \'name\': \'Raymond Martino\', \'original_name\': \'Raymond Martino\', \'popularity\': 1.135, \'profile_path\': None, \'cast_id\': 92, \'character\': \'Corleone Family Member (uncredited)\', \'credit_id\': \'55f1b6e59251416711002257\', \'order\': 48}, {\'adult\': False, \'gender\': 2, \'id\': 1503035, \'known_for_department\': \'Acting\', \'name\': \'Joseph Medaglia\', \'original_name\': \'Joseph Medaglia\', \'popularity\': 1.667, \'profile_path\': None, \'cast_id\': 93, \'character\': \'Priest at Baptism (uncredited)\', \'credit_id\': \'55f1b73dc3a3685eb80005f7\', \'order\': 49}, {\'adult\': False, \'gender\': 0, \'id\': 1290895, \'known_for_department\': \'Acting\', \'name\': \'Rick Petrucelli\', \'original_name\': \'Rick Petrucelli\', \'popularity\': 1.597, \'profile_path\': None, \'cast_id\': 94, \'character\': \'Man in Passenger Seat (uncredited)\', \'credit_id\': \'55f1b769925141671400218e\', \'order\': 50}, {\'adult\': False, \'gender\': 0, \'id\': 1237372, \'known_for_department\': \'Acting\', \'name\': \'Sal Richards\', \'original_name\': \'Sal Richards\', \'popularity\': 1.16, \'profile_path\': \'/gZSiZOtBVv1U4hqjlKkPr2p5rCP.jpg\', \'cast_id\': 95, \'character\': \'Drunk (uncredited)\', \'credit_id\': \'55f1b7c29251410d6d000acb\', \'order\': 51}, {\'adult\': False, \'gender\': 2, \'id\': 1213795, \'known_for_department\': \'Acting\', \'name\': \'Tom Rosqui\', \'original_name\': \'Tom Rosqui\', \'popularity\': 3.503, \'profile_path\': None, \'cast_id\': 96, \'character\': \'Rocco Lampone (uncredited)\', \'credit_id\': \'55f1b7e2925141670d00243a\', \'order\': 52}, {\'adult\': False, \'gender\': 2, \'id\': 11480, \'known_for_department\': \'Acting\', \'name\': \'Frank Sivero\', \'original_name\': \'Frank Sivero\', \'popularity\': 4.499, \'profile_path\': \'/eqvhj0iNtcsN6EJhd21Goqi1DSq.jpg\', \'cast_id\': 97, \'character\': \'Street Extra (uncredited)\', \'credit_id\': \'55f1b81092514167140021b1\', \'order\': 53}, {\'adult\': False, \'gender\': 0, \'id\': 1209678, \'known_for_department\': \'Acting\', \'name\': \'Filomena Spagnuolo\', \'original_name\': \'Filomena Spagnuolo\', \'popularity\': 0.6, \'profile_path\': None, \'cast_id\': 98, \'character\': \'Extra in Wedding Scene (uncredited)\', \'credit_id\': \'55f1b83592514167140021c1\', \'order\': 54}, {\'adult\': False, \'gender\': 2, \'id\': 78336, \'known_for_department\': \'Directing\', \'name\': \'Nick Vallelonga\', \'original_name\': \'Nick Vallelonga\', \'popularity\': 8.561, \'profile_path\': \'/h0GwAHN1J5lDysqgWxMIg66LNBW.jpg\', \'cast_id\': 100, \'character\': \'Wedding Party Guest (uncredited)\', \'credit_id\': \'55f1b89b9251410d6d000af0\', \'order\': 55}, {\'adult\': False, \'gender\': 2, \'id\': 16525, \'known_for_department\': \'Acting\', \'name\': \'Joe Spinell\', \'original_name\': \'Joe Spinell\', \'popularity\': 4.913, \'profile_path\': \'/rdDEi8SJSx9OwVJQaHNa3VfZBRM.jpg\', \'cast_id\': 99, \'character\': "William \'Willie\' Cicci (uncredited)", \'credit_id\': \'55f1b85d925141670500228d\', \'order\': 56}, {\'adult\': False, \'gender\': 2, \'id\': 1234848, \'known_for_department\': \'Acting\', \'name\': \'Conrad Yama\', \'original_name\': \'Conrad Yama\', \'popularity\': 1.287, \'profile_path\': None, \'cast_id\': 101, \'character\

In [26]:
#Helper function to convert from string to list of dictionaries and from list of dictionaries to list of elements and only select 3 Main Actors 
def convert3(obj):
    L=[]
    counter=0
    for i in ast.literal_eval(obj):
        if counter!=5:
            L.append(i['name'])
            counter+=1
        else:
            break
    return L

In [27]:
#Sending cast object to convert3 function
movies['cast'] = movies['cast'].apply(convert3)
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...","[Drama, Crime]","[italy, loss of loved one, love at first sight...","[Marlon Brando, Al Pacino, James Caan, Robert ...","[{'adult': False, 'gender': 2, 'id': 154, 'kno..."
1,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,"[Drama, Crime]","[prison, corruption, police brutality, based o...","[Tim Robbins, Morgan Freeman, Bob Gunton, Will...","[{'adult': False, 'gender': 2, 'id': 153, 'kno..."
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,"[Drama, Crime]","[italy, italian american, cuba, symbolism, gan...","[Al Pacino, Robert Duvall, Diane Keaton, Rober...","[{'adult': False, 'gender': 2, 'id': 154, 'kno..."
3,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...","[Comedy, Drama, Romance]",[],"[Shah Rukh Khan, Kajol, Amrish Puri, Anupam Kh...","[{'adult': False, 'gender': 1, 'id': 8311, 'kn..."
4,424,Schindler's List,The true story of how businessman Oskar Schind...,"[Drama, History, War]","[based on novel or book, factory, concentratio...","[Liam Neeson, Ben Kingsley, Ralph Fiennes, Car...","[{'adult': False, 'gender': 2, 'id': 491, 'kno..."

In [28]:
#Helper function to Only Selecting director from crew
def fetch_director(text):
    L = []
    for i in ast.literal_eval(text):
        if i['job'] == 'Director':
            L.append(i['name'])
    return L

In [29]:
#Sending crew object to fetch_director function
movies['crew'] = movies['crew'].apply(fetch_director)

In [30]:
movies.head(5)

,movie_id,title,overview,genres,keywords,cast,crew
0,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...","[Drama, Crime]","[italy, loss of loved one, love at first sight...","[Marlon Brando, Al Pacino, James Caan, Robert ...",[Francis Ford Coppola]
1,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,"[Drama, Crime]","[prison, corruption, police brutality, based o...","[Tim Robbins, Morgan Freeman, Bob Gunton, Will...",[Frank Darabont]
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,"[Drama, Crime]","[italy, italian american, cuba, symbolism, gan...","[Al Pacino, Robert Duvall, Diane Keaton, Rober...",[Francis Ford Coppola]
3,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...","[Comedy, Drama, Romance]",[],"[Shah Rukh Khan, Kajol, Amrish Puri, Anupam Kh...",[Aditya Chopra]
4,424,Schindler's List,The true story of how businessman Oskar Schind...,"[Drama, History, War]","[based on novel or book, factory, concentratio...","[Liam Neeson, Ben Kingsley, Ralph Fiennes, Car...",[Steven Spielberg]

In [31]:
#Inorder to reduce confusion associated with tags we will be transforming all spaces in between names with noth
def collapse(L):
    L1 = []
    for i in L:
        L1.append(i.replace(" ",""))
    return L1

In [32]:
#Sending the cast, crew, genres, keywords objects to collapse function
movies['tags'] = movies['overview'].apply(lambda x:x.split()) + movies['crew'].apply(collapse) + movies['genres'].apply(collapse) + movies['keywords'].apply(collapse)

In [33]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew,tags
0,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...","[Drama, Crime]","[italy, loss of loved one, love at first sight...","[Marlon Brando, Al Pacino, James Caan, Robert ...",[Francis Ford Coppola],"[Spanning, the, years, 1945, to, 1955,, a, chr..."
1,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,"[Drama, Crime]","[prison, corruption, police brutality, based o...","[Tim Robbins, Morgan Freeman, Bob Gunton, Will...",[Frank Darabont],"[Framed, in, the, 1940s, for, the, double, mur..."
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,"[Drama, Crime]","[italy, italian american, cuba, symbolism, gan...","[Al Pacino, Robert Duvall, Diane Keaton, Rober...",[Francis Ford Coppola],"[In, the, continuing, saga, of, the, Corleone,..."
3,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...","[Comedy, Drama, Romance]",[],"[Shah Rukh Khan, Kajol, Amrish Puri, Anupam Kh...",[Aditya Chopra],"[Raj, is, a, rich,, carefree,, happy-go-lucky,..."
4,424,Schindler's List,The true story of how businessman Oskar Schind...,"[Drama, History, War]","[based on novel or book, factory, concentratio...","[Liam Neeson, Ben Kingsley, Ralph Fiennes, Car...",[Steven Spielberg],"[The, true, story, of, how, businessman, Oskar..."

In [34]:
#Now converting list into a string by joining the elements in the list
movies['tags'] = movies['tags'].apply(lambda x: " ".join(x))
movies['genres'] = movies['genres'].apply(lambda x: ", ".join(x))
movies['cast'] = movies['cast'].apply(lambda x: ", ".join(x))
movies['crew'] = movies['crew'].apply(lambda x : x[0])
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew,tags
0,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...","Drama, Crime","[italy, loss of loved one, love at first sight...","Marlon Brando, Al Pacino, James Caan, Robert D...",Francis Ford Coppola,"Spanning the years 1945 to 1955, a chronicle o..."
1,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,"Drama, Crime","[prison, corruption, police brutality, based o...","Tim Robbins, Morgan Freeman, Bob Gunton, Willi...",Frank Darabont,Framed in the 1940s for the double murder of h...
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,"Drama, Crime","[italy, italian american, cuba, symbolism, gan...","Al Pacino, Robert Duvall, Diane Keaton, Robert...",Francis Ford Coppola,In the continuing saga of the Corleone crime f...
3,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...","Comedy, Drama, Romance",[],"Shah Rukh Khan, Kajol, Amrish Puri, Anupam Khe...",Aditya Chopra,"Raj is a rich, carefree, happy-go-lucky second..."
4,424,Schindler's List,The true story of how businessman Oskar Schind...,"Drama, History, War","[based on novel or book, factory, concentratio...","Liam Neeson, Ben Kingsley, Ralph Fiennes, Caro...",Steven Spielberg,The true story of how businessman Oskar Schind...

In [35]:
#converting tags into lowercase
movies['tags'] = movies['tags'].apply(lambda x:x.lower())

In [36]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew,tags
0,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...","Drama, Crime","[italy, loss of loved one, love at first sight...","Marlon Brando, Al Pacino, James Caan, Robert D...",Francis Ford Coppola,"spanning the years 1945 to 1955, a chronicle o..."
1,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,"Drama, Crime","[prison, corruption, police brutality, based o...","Tim Robbins, Morgan Freeman, Bob Gunton, Willi...",Frank Darabont,framed in the 1940s for the double murder of h...
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,"Drama, Crime","[italy, italian american, cuba, symbolism, gan...","Al Pacino, Robert Duvall, Diane Keaton, Robert...",Francis Ford Coppola,in the continuing saga of the corleone crime f...
3,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...","Comedy, Drama, Romance",[],"Shah Rukh Khan, Kajol, Amrish Puri, Anupam Khe...",Aditya Chopra,"raj is a rich, carefree, happy-go-lucky second..."
4,424,Schindler's List,The true story of how businessman Oskar Schind...,"Drama, History, War","[based on novel or book, factory, concentratio...","Liam Neeson, Ben Kingsley, Ralph Fiennes, Caro...",Steven Spielberg,the true story of how businessman oskar schind...

In [37]:
movies['tags'][0]

'spanning the years 1945 to 1955, a chronicle of the fictional italian-american corleone crime family. when organized crime family patriarch, vito corleone barely survives an attempt on his life, his youngest son, michael steps in to take care of the would-be killers, launching a campaign of bloody revenge. francisfordcoppola drama crime italy lossoflovedone loveatfirstsight basedonnovelorbook europe symbolism patriarch organizedcrime mafia lawyer religion revengemotive crimefamily sicilianmafia religioushypocrisy gunviolence risetopower deadhorse gangviolence 1940s 1950s mafiawar partoftrilogy'

In [38]:
#Here we are using it to remove redundancy in similar word patterns for which we have PorterStemmer
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [39]:
#Helper function to pass the porterstemmer with required objects for stemming
def stem(text):
    y = []
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [40]:
ps.stem('action')

'action'

In [41]:
#Passing the tags object to stem function to perform stemming
movies['tags'] = movies['tags'].apply(stem)

In [42]:
#Now using the Count Vectorizer function which is used to transform the data into a vector based on the frequency(count) of each word that occurs in the data set.
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [43]:
#Converting to numpy array
vector = cv.fit_transform(movies['tags']).toarray()

In [44]:
vector.shape

(9971, 5000)

In [45]:
cv.get_feature_names()

['000',
 '10',
 '100',
 '11',
 '12',
 '13',
 '14',
 '14thcenturi',
 '15',
 '15thcenturi',
 '16',
 '16thcenturi',
 '17',
 '17thcenturi',
 '18',
 '18th',
 '18thcenturi',
 '19',
 '1910',
 '1920',
 '1930',
 '1936',
 '1940',
 '1942',
 '1943',
 '1944',
 '1945',
 '1950',
 '1950s',
 '1960',
 '1960s',
 '1970',
 '1970s',
 '1973',
 '1978',
 '1980',
 '1980s',
 '1990',
 '1999',
 '19th',
 '19thcenturi',
 '1stcenturi',
 '20',
 '200',
 '2000',
 '2020',
 '2030',
 '2040',
 '20th',
 '21st',
 '24',
 '25',
 '30',
 '300',
 '35',
 '39',
 '3d',
 '40',
 '50',
 '500',
 'aaron',
 'abandon',
 'abduct',
 'abil',
 'abl',
 'aboard',
 'abort',
 'abov',
 'abroad',
 'absolut',
 'absurd',
 'abus',
 'abusivefath',
 'abusivehusband',
 'academi',
 'academy',
 'accept',
 'access',
 'accid',
 'accident',
 'acclaim',
 'accompani',
 'accomplish',
 'account',
 'accus',
 'ace',
 'achiev',
 'acquaint',
 'act',
 'action',
 'actionhero',
 'activ',
 'activist',
 'actor',
 'actress',
 'actual',
 'ad',
 'adam',
 'adapt',
 'add',
 'addict',
 'addit',
 'adjust',
 'admir',
 'admit',
 'adolesc',
 'adolf',
 'adopt',
 'ador',
 'adult',
 'adultanim',
 'adulteri',
 'adulthood',
 'advanc',
 'advantag',
 'adventur',
 'adventure',
 'adventures',
 'adversari',
 'advertis',
 'advic',
 'advis',
 'affair',
 'affect',
 'afford',
 'afghanistan',
 'afraid',
 'africa',
 'african',
 'aftercreditssting',
 'afterlif',
 'aftermath',
 'ag',
 'age',
 'agediffer',
 'agenc',
 'agency',
 'agenda',
 'agent',
 'agents',
 'aggress',
 'ago',
 'agre',
 'ahead',
 'aid',
 'ail',
 'aim',
 'air',
 'aircraft',
 'airforc',
 'airplan',
 'airplanecrash',
 'airport',
 'akirakurosawa',
 'al',
 'alabama',
 'alain',
 'alan',
 'alanpark',
 'alaska',
 'albert',
 'alberto',
 'alcohol',
 'alcoholabus',
 'alex',
 'alfredhitchcock',
 'ali',
 'alic',
 'alice',
 'alien',
 'alieninvas',
 'alienlife',
 'alienplanet',
 'aliens',
 'alik',
 'aliv',
 'alive',
 'allen',
 'alli',
 'allianc',
 'allig',
 'allow',
 'allur',
 'alma',
 'alon',
 'alongsid',
 'alpha',
 'alpsmountain',
 'alreadi',
 'alter',
 'altern',
 'alternater',
 'alway',
 'alzheimer',
 'amanda',
 'amateur',
 'amaz',
 'amazon',
 'amazonrainforest',
 'ambassador',
 'ambit',
 'ambiti',
 'ambul',
 'ambush',
 'america',
 'american',
 'americanabroad',
 'americancivilwar',
 'americandream',
 'americanfootbal',
 'ami',
 'amid',
 'amidst',
 'amnesia',
 'amsterdam',
 'amus',
 'amusementpark',
 'amy',
 'ana',
 'analyst',
 'anarchiccomedi',
 'ancient',
 'ancientegypt',
 'ancientgreec',
 'ancientrom',
 'ancientworld',
 'anderson',
 'andi',
 'andrea',
 'andrew',
 'android',
 'andy',
 'angel',
 'angela',
 'angeles',
 'anger',
 'angri',
 'ani',
 'anim',
 'animalattack',
 'animalhorror',
 'animals',
 'animatedscen',
 'ann',
 'anna',
 'anni',
 'announc',
 'annoy',
 'annual',
 'anonym',
 'anoth',
 'answer',
 'ant',
 'antarctica',
 'antholog',
 'anthoni',
 'anthropomorph',
 'anti',
 'antic',
 'antihero',
 'antiwar',
 'antoin',
 'antoinefuqua',
 'antonio',
 'anyon',
 'anyth',
 'apart',
 'apartment',
 'apartmentbuild',
 'ape',
 'apocalyps',
 'apocalypse',
 'apocalypt',
 'apocalypticfutur',
 'appar',
 'apparit',
 'appear',
 'appl',
 'appoint',
 'appreci',
 'apprentic',
 'approach',
 'april',
 'aquarium',
 'arab',
 'arch',
 'archaeologist',
 'archeolog',
 'archer',
 'architect',
 'architectur',
 'arctic',
 'area',
 'aren',
 'arena',
 'argentina',
 'ariel',
 'aris',
 'aristocrat',
 'arizona',
 'arkansa',
 'arm',
 'armi',
 'armor',
 'armsdeal',
 'army',
 'arrang',
 'arrangedmarriag',
 'array',
 'arrest',
 'arriv',
 'arrival',
 'arrives',
 'arrog',
 'arson',
 'art',
 'artgalleri',
 'arthur',
 'artifact',
 'artifici',
 'artificialintellig',
 'artist',
 'arturo',
 'ash',
 'ashley',
 'asia',
 'asianamerican',
 'asid',
 'ask',
 'aspir',
 'assassin',
 'assassins',
 'assault',
 'assembl',
 'assign',
 'assignment',
 'assist',
 'assistant',
 'associ',
 'assum',
 'asterix',
 'asteroid',
 'astronaut',
 'astronom',
 'asylum',
 'atheist',
 'athlet',
 'atlanta',
 'atomicbomb',
 'attach',
 'attack',
 'attempt',
 'attemptedmurd',
 'attempttoescap',
 'attend',
 'attent',
 'attic',
 'attitud',
 'attorney',
 'attract',
 'auction',
 'audienc',
 'audit',
 'august',
 'aunt',
 'austin',
 'australia',
 'australian',
 'australianoutback',
 'austria',
 'austrian',
 'author',
 'authorities',
 'autism',
 'auto',
 'aveng',
 'averag',
 'aviat',
 'avoid',
 'await',
 'awak',
 'awaken',
 'awar',
 'award',
 'away',
 'awkward',
 'awri',
 'awry',
 'ax',
 'babi',
 'baby',
 'babysitt',
 'bachelor',
 'backdrop',
 'background',
 'backpack',
 'bad',
 'bag',
 'baker',
 'balanc',
 'ball',
 'ballet',
 'balloon',
 'baltimore',
 'ban',
 'band',
 'bandit',
 'bangkok',
 'banish',
 'bank',
 'banker',
 'bankrobb',
 'bankrobberi',
 'bar',
 'barbarian',
 'barber',
 'barbershop',
 'barbi',
 'barcelona',
 'bare',
 'bargain',
 'barn',
 'baron',
 'barri',
 'barrylevinson',
 'barrysonnenfeld',
 'bars',
 'bart',
 'bartend',
 'bas',
 'base',
 'basebal',
 'basedonchildren',
 'basedoncom',
 'basedonfairytal',
 'basedongraphicnovel',
 'basedonmagazine',
 'basedonmanga',
 'basedonmemoirorautobiographi',
 'basedonmyths',
 'basedonnovelorbook',
 'basedonplayormus',
 'basedonshortfilm',
 'basedonshortstori',
 'basedontoy',
 'basedontruestori',
 'basedontvseri',
 'basedonvideogam',
 'basedonyoungadultnovel',
 'basement',
 'basketbal',
 'bath',
 'bathtub',
 'batman',
 'battl',
 'battle',
 'battlefield',
 'bay',
 'bdsm',
 'beach',
 'bear',
 'beast',
 'beat',
 'beauti',
 'beautiful',
 'beauty',
 'becam',
 'becaus',
 'becom',
 'becominganadult',
 'bed',
 'bedroom',
 'bee',
 'beer',
 'befor',
 'befriend',
 'began',
 'begin',
 'begins',
 'behavior',
 'belgium',
 'belief',
 'believ',
 'bell',
 'bella',
 'belle',
 'belong',
 'belov',
 'ben',
 'bend',
 'beneath',
 'benefactor',
 'benjamin',
 'bennett',
 'bent',
 'berlin',
 'bernard',
 'best',
 'bestfriend',
 'bet',
 'beth',
 'betray',
 'betrayal',
 'better',
 'beverli',
 'bibl',
 'bicycl',
 'bid',
 'big',
 'bigger',
 'biggest',
 'bike',
 'biker',
 'bikini',
 'billi',
 'billion',
 'billionair',
 'billywild',
 'biographi',
 'biolog',
 'biopic',
 'bird',
 'birth',
 'birthday',
 'birthdayparti',
 'bisexu',
 'bishop',
 'bit',
 'bite',
 'bitter',
 'bizarr',
 'black',
 'blackandwhit',
 'blackhumor',
 'blackmag',
 'blackmail',
 'blackout',
 'blackpeopl',
 'blade',
 'blakeedward',
 'blame',
 'blast',
 'bleak',
 'blind',
 'blindnessandimpairedvis',
 'bliss',
 'blizzard',
 'block',
 'blond',
 'blood',
 'bloodi',
 'bloodsplatt',
 'bloodthirsti',
 'bloom',
 'blossom',
 'blow',
 'blue',
 'blur',
 'board',
 'boardingschool',
 'boat',
 'bob',
 'bobbi',
 'bodi',
 'body',
 'bodyguard',
 'bold',
 'bomb',
 'bomber',
 'bond',
 'bondag',
 'bone',
 'book',
 'bookshop',
 'booth',
 'border',
 'bore',
 'boredom',
 'born',
 'boss',
 'boston',
 'botch',
 'bottl',
 'bound',
 'bounti',
 'bountyhunt',
 'bowl',
 'box',
 'boxer',
 'boy',
 'boyfriend',
 'boyfriendgirlfriendrelationship',
 'boys',
 'brad',
 'brain',
 'brainwash',
 'brand',
 'brash',
 'brave',
 'braveri',
 'brawl',
 'brazil',
 'brazilian',
 'break',
 'breakdown',
 'breakingthefourthwal',
 'breed',
 'brian',
 'briandepalma',
 'bride',
 'bridg',
 'brief',
 'bright',
 'brilliant',
 'bring',
 'brink',
 'britain',
 'british',
 'britisharmi',
 'britishempir',
 'britishmonarchi',
 'britishsecretservic',
 'broadcast',
 'broadway',
 'broke',
 'broken',
 'broker',
 'bronx',
 'brood',
 'brook',
 'brooklyn',
 'broth',
 'brothel',
 'brother',
 'brotherbrotherrelationship',
 'brothers',
 'brothersisterrelationship',
 'brought',
 'brown',
 'bruce',
 'bruno',
 'brutal',
 'bu',
 'buck',
 'bud',
 'buddi',
 'buddycomedi',
 'buddycop',
 'budget',
 'bug',
 'build',
 'building',
 'built',
 'bull',
 'bullet',
 'bulli',
 'bumbl',
 'bump',
 'bunch',
 'bunker',
 'bureaucraci',
 'burglar',
 'buri',
 'burn',
 'busi',
 'business',
 'businessman',
 'businesswoman',
 'bust',
 'butcher',
 'butler',
 'buy',
 'buzz',
 'cabin',
 'caesar',
 'cage',
 'cairo',
 'cal',
 'california',
 'calvin',
 'came',
 'camera',
 'cameron',
 'camp',
 'campaign',
 'campu',
 'canada',
 'canadian',
 'cancer',
 'candid',
 'cannib',
 'capabl',
 'capit',
 'capt',
 'captain',
 'captiv',
 'captor',
 'captur',
 'car',
 'caraccid',
 'carcrash',
 'card',
 'cardgam',
 'care',
 'career',
 'carefre',
 'caregiv',
 'caretak',
 'carl',
 'carlo',
 'carloverdon',
 'carmechan',
 'carniv',
 'carol',
 'carolina',
 'carrac',
 'carri',
 'cartel',
 'carter',
 'cartoon',
 'case',
 'casey',
 'cash',
 'casino',
 'casper',
 'cast',
 'castl',
 'castle',
 'cat',
 'cataclysm',
 'catastroph',
 'catch',
 'cathol',
 'catholic',
 'catholicchurch',
 'cattl',
 'caught',
 'caus',
 'cavalri',
 'cave',
 'celebr',
 'celebration',
 'cell',
 'cellar',
 'cellphon',
 'cemeteri',
 'center',
 'central',
 'centuri',
 'centuries',
 'century',
 'ceo',
 'certain',
 'chain',
 'chainsaw',
 'challeng',
 'chamber',
 'champion',
 'championship',
 'chan',
 'chanc',
 'chance',
 'chang',
 'changed',
 'changes',
 'channel',
 'chao',
 'chaos',
 'chaotic',
 'charact',
 'character',
 'characters',
 'charg',
 'charismat',
 'charl',
 'charli',
 'charlie',
 'charliechaplin',
 'charlott',
 'charm',
 'chase',
 'chat',
 'chauffeur',
 'che',
 'cheat',
 'check',
 'cheer',
 'cheerlead',
 'chef',
 'chemic',
 'chess',
 'chicago',
 'chicken',
 'chief',
 'child',
 'childabus',
 'childhero',
 'childhood',
 'childhoodfriend',
 'childhoodtrauma',
 'childkidnap',
 'childmurd',
 'childprodigi',
 'childprotagonist',
 'children',
 'childreninwartim',
 'chile',
 'chill',
 'china',
 'chinatown',
 'chines',
 'chinesemafia',
 'chloe',
 'chocol',
 'choic',
 'choice',
 'choos',
 'chosen',
 'chri',
 'chriscolumbu',
 'christ',
 'christian',
 'christianfilm',
 'christma',
 'christmas',
 'christmasev',
 'christmasmoviealtern',
 'christmasparti',
 'christmastre',
 'christoph',
 'christophernolan',
 'chronicl',
 'chuck',
 'church',
 'cia',
 'cigarett',
 'circl',
 'circle',
 'circu',
 'circumst',
 'circumstances',
 'citi',
 'citizen',
 'city',
 'civil',
 'civilian',
 'civilization',
 'civilwar',
 'claim',
 'clair',
 'clairvoy',
 'clan',
 'clara',
 'clark',
 'clash',
 'class',
 'classdiffer',
 'classic',
 'classifi',
 'classmat',
 'classroom',
 'clau',
 'claud',
 'claudia',
 'claudio',
 'claus',
 'claustrophobia',
 'clean',
 'clear',
 'clerk',
 'clever',
 'client',
 'clients',
 'cliff',
 'climb',
 'clinic',
 'clinteastwood',
 'cliqu',
 'clock',
 'clone',
 'close',
 'closer',
 'closest',
 'closet',
 'cloud',
 'clouseau',
 'clown',
 'club',
 'clue',
 'clumsi',
 'clutch',
 'clydegeronimi',
 'coach',
 'coast',
 'coastal',
 'cocain',
 'cod',
 'code',
 'coffe',
 'coffin',
 'col',
 'cold',
 'coldwar',
 'cole',
 'collaps',
 'collar',
 'colleagu',
 'colleague',
 'collect',
 'collector',
 'colleg',
 'college',
 'collegestud',
 'collid',
 'collis',
 'colonel',
 'coloni',
 'color',
 'colorado',
 'com',
 'coma',
 'combat',
 'combin',
 'come',
 'comeback',
 'comedi',
 'comedian',
 'comedy',
 'comet',
 'comfort',
 'comic',
 'comicbook',
 'coming',
 'comingofag',
 'comingout',
 'command',
 'commando',
 'commerci',
 'commiss',
 'commit',
 'common',
 'commun',
 'communist',
 'community',
 'compani',
 'companion',
 'company',
 'compass',
 'compel',
 'compet',
 'competit',
 'competition',
 'complet',
 'complex',
 'complic',
 'compos',
 'compound',
 'compromis',
 'comput',
 'conartist',
 'conceal',
 'concentrationcamp',
 'concern',
 'concert',
 'condit',
 'conduct',
 'confess',
 'confid',
 'confin',
 'conflict',
 'confront',
 'confus',
 'congress',
 'conman',
 'connect',
 'connecticut',
 'connection',
 'connor',
 'conquer',
 'consequ',
 'consequences',
 'conserv',
 'consid',
 'consist',
 'conspir',
 'conspiraci',
 'conspiracy',
 'constant',
 'constantli',
 'construct',
 'consum',
 'contact',
 'contain',
 'contempl',
 'contemporari',
 'contend',
 'content',
 'contest',
 'continu',
 'contraband',
 ...]

# Applying ML Algorithm for Recommendation

In [46]:
#Importing Cosine similarity from sklearn
from sklearn.metrics.pairwise import cosine_similarity

In [47]:
cosine_similarity(vector).shape

(9971, 9971)

In [48]:
#Cosine Similarity is performed on those vectors to find the Euclidean Distance to recommend the top five movies which are like the searched movie.
similarity = cosine_similarity(vector)

In [49]:
similarity

array([[1.        , 0.25786335, 0.38746596, ..., 0.03370999, 0.13829797,
        0.13653614],
       [0.25786335, 1.        , 0.0808122 , ..., 0.        , 0.19069252,
        0.2420527 ],
       [0.38746596, 0.0808122 , 1.        , ..., 0.04225771, 0.07705141,
        0.        ],
       ...,
       [0.03370999, 0.        , 0.04225771, ..., 1.        , 0.        ,
        0.        ],
       [0.13829797, 0.19069252, 0.07705141, ..., 0.        , 1.        ,
        0.1923235 ],
       [0.13653614, 0.2420527 , 0.        , ..., 0.        , 0.1923235 ,
        1.        ]])

In [50]:
similarity[0]

array([1.        , 0.25786335, 0.38746596, ..., 0.03370999, 0.13829797,
       0.13653614])

In [53]:
#Helper function for recommending based on Similarity between the searched movie and all other #movies in the dataframe
def recommend(movie):
    index = movies[movies['title'] == movie].index[0]
    distances = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])
    for i in distances[1:11]:
        print(movies.iloc[i[0]].title)

In [54]:
recommend('Gandhi')

Almost Friends
The Clink of Ice
The Last Kiss
22 Bullets
Alfie
We Own the Night
Twelve
Wrong
The Truman Show
The Whole Truth

In [55]:
import pickle

In [56]:
pickle.dump(movies.to_dict(),open('movie_list.pkl','wb'))

In [57]:
movies['title'].values

array(['The Godfather', 'The Shawshank Redemption',
       'The Godfather Part II', ..., 'The Pyramid',
       'Home Alone: The Holiday Heist', 'Driven'], dtype=object)

In [58]:
pickle.dump(similarity,open('similarity.pkl','wb'))